{% extends "landings/base.html" %}

{% block content %}
<div id="frontpage">

                <img class="featured-text" src="media/img/featured-text.jpg" alt="Unifolio. A place for sharing." />

                <div class="line"></div>

                <div id="recent-uploads">

                    <h3>Recent Uploads</h3>

                    {% for e in recent %}
                    <div class="featured-project-bg{% if loop.first %} first{% endif %}">
                        <a class="table-center" href="{{ url('portfolio.viewgallery', e.gallery.id) }}"><img src="{{ MEDIA_URL }}{{ e.file.file }}"></a>
                    </div>
                    {% endfor %}

                </div><!--end recent-uploads-->

                <div class="line"></div>

                <div id="content">


                </div><!--end content-->
            </div><!--end frontpage-->
{% endblock %}
