{% extends "portfolio/base.html" %}

{% block content %}
    <h1>{{ _('Edit an Image') }}</h1>
    <div id="document-form">
      {{ gallery_form.errors }}
    <br />
    <p>Editing:</p>
    <a href="{{ MEDIA_URL }}{{ imgpath }}" target="_blank"><img src="{{ MEDIA_URL }}{{ imgpath }}" class="scaledimage"></a>
      <form class="styleform" action="{{ url('portfolio.editimage', id) }}" method="post">
        {{ csrf() }}
        <ul>
          {% for field in gallery_form.visible_fields() %}
            <li><label for="{{ field.auto_id }}">{{ field.label }}</label> {{ field }}</li>
          {% endfor %}
        </ul>
        <input type="submit" value="Save Changes" />
      </form>
    </div>
{% endblock %}
