{% extends "portfolio/base.html" %}

{% block content %}

            <div id="gallery">
                <h2 class="page-title">{{ g.creator }}'s Gallery: {{ g.title }}</h2>
                {% if request.user == user %}
                <h4><a href="{{ url('portfolio.editgallery', g.id) }}">Edit This Gallery</a></h4>
                {% endif %}
                <h5>Share this Portfolio: <input type="text" onfocus="this.select()" size="50" value="{{ request.build_absolute_uri() }}"></h5>
                <div class="post-line"></div>
    {% if entries %}

        {% for e in entries %}
            <div class="gallery-item{% if (loop.index-1) is divisibleby 2 %} first{% endif %}">
                    <p class="project-name"><b>Entry:</b> {{ e.title }}</p>
                    {% if request.user == e.creator %}
                    <p><a href="{{ url('portfolio.editimage', e.id) }}">Edit Image Data</a> {% if not e.visibility %}(This image is <strong>not publicly visible</strong>.){% endif %}</p>
                    {% endif %}
                    <a class="more-details" href="{{ url('portfolio.viewentry', e.id) }}">More Details &raquo;</a>
                    <div class="gallery-img-bg">
                        <a class="fancybox table-center" href="{{ MEDIA_URL }}{{ e.file.file }}" rel="view-gallery" title="{{ e.title }}"><img src="{{ MEDIA_URL }}{{ e.file.file }}" alt="" /> </a>
                    </div><!--end post-img-bg -->

            </div><!--end gallery-item-->
        {% endfor %}

    {% else %}
        No entries found!
    {% endif %}
            {% endblock %}
