<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}playdoh examples{% endblock %}</title>

    {% block site_css %}
      {{ css('main_css') }}
    {% endblock %}
  </head>
  <body data-mobile-cookie="{{ settings.MOBILE_COOKIE }}">
    <div style="width: 100%; text-align: right;">
      {% if request.user.is_authenticated() %}
        Welcome, {{ request.user.username }} | <a href="{{ url('accounts.logout') }}">Logout</a>
      {% else %}
        <a href="{{ url('accounts.login') }}">Login</a> | <a href="{{ url('accounts.register') }}">Register</a>
      {% endif %}
    </div>
    {% block content %}{% endblock %}

    <div id="footer">
      {# These links will add/remove cookies. See JavaScript. #}
      <a class="desktop-link" href="">{{ _('View Desktop Site') }}</a>
      &nbsp;|&nbsp;
      <a class="mobile-link" href="">{{ _('View Mobile Site') }}</a>
    </div>

    {% block site_js %}
      {{ js('main_js') }}
    {% endblock %}
  </body>
</html>

